.App {
 float: right;
 
}
.AppL {
  float: left;
 }

.dispFlex{
  margin-left: 220px;
}
.container {
  display: flex;
  flex-wrap: nowrap; /* Satır sonuna geçme */
  justify-content: space-between;
}
